<ion-header>
  <ion-toolbar color="light">
    <ion-title text-center >Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img class="imgAvatar" src="assets/icon/avatar.png" alt="">
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="email" [(ngModel)]="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="pass" required></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-button (click)="onSubmitLogin()" class="btnEntrar" expand="block" color="primary" shape="round">Entrar</ion-button>
  </ion-card>
</ion-content>
